

body {
	font-family: 'Gabarito';
	font-size: 26px;
	background-color: #FBF9EA;
	border: 0px solid red;
	margin: 0px;
	padding: 0px;
	color: #044772;
}


a {text-decoration: none;}
p {color: #044772;}






.header1 {background-color: #044772; height: 30px; margin: 0px;}
.header2 {background-color: #429dd8; height: 30px; margin: 0px;}
.header3 {background-color: #bde1f8; height: 30px; margin: 0px; margin-bottom: 50px;}


.menudivider {padding: 5px 20px; color: #429dd8; font-size: 16px; }


/*-----------------------------------------*/

.menu {max-width: 800px; width: 95%; margin: auto; font-size: 16px; display: flex; justify-content: space-around; z-index:80; position: relative; text-align: center;}
.menu a {color: #044772; padding: 5px;}
@media screen and (max-width: 500px) {
	.menu{font-size: 12px; padding: 5px; }
	.header3 {height: auto;}
}

/*-----------------------------------------*/

.hero-shell {display: flex; max-width: 800px; margin: 0px auto;}
.hero-text {width: 400px;}
.hero-cover {width: 400px;}

.hero-cover {text-align: center;}
.book-cover {max-width: 300px; transform: rotate(3deg); }

.hero-text {margin-top: -30px;}
.hero-text p {max-width: 350px;}
.hero-text1 {text-align: left; margin-bottom: 40px;}
.hero-text2 {text-align: right;}
.hero-title {font-weight: bold; font-size: 42px; text-transform: uppercase; border-bottom: 2px solid #044772; padding-bottom: 10px; text-align: center;}
.hero-number{font-size: 32px; color: #429dd8; font-weight: 600; text-transform: uppercase; display: inline-block; line-height: 32px;}

.hero-arrow {text-align: right; margin-left: 60px; margin-top: -20px;}
.hero-arrow img {width: 100px;  transform: rotate(-20deg);}

.hero-buynowbuttons {display: flex; width: 90%; max-width: 500px; justify-content: space-around; border: 3px solid #ccc; position: relative; padding: 20px; margin: auto; margin-top: 80px; border-radius: 5px;}
.buynow-button {width: 180px; display: block; opacity: .5;}
.coming-soon {position: absolute; margin-top: -35px; background-color: #FBF9EA; padding: 0px 20px; font-size: 22px; text-align: center;}

@media screen and (max-width: 900px) {
.hero-shell {flex-direction: column; margin-top: -30px;}
.hero-arrow {display: none;}
.hero-text p {max-width: 100%; text-align: center;}
.hero-text, .hero-cover {width: 90%; margin: auto; text-align: center;}
.hero-buynowbuttons {flex-direction: column; padding: 20px 0px; text-align: center;}
.buynow-button {margin: 5px auto;}
.coming-soon {margin-top: -200px}
}

/*-----------------------------------------*/

.virginia-divider {
	margin: 120px auto 80px auto;
	display: block;
	text-align: center;
	width: 90%;
	max-width: 500px;
	border-top: 2px dotted #044772;

}

.virginia-divider img {width: 100px; margin-top: -30px; background-color: #FBF9EA; padding: 0px 20px 0px 20px;}


/*-----------------------------------------*/

.checklist-shell {max-width: 1000px; width: 90%; margin: auto; margin-bottom: 50px;}

.checklist-title {display: flex; justify-content: space-between; align-items: center;}
.checklist-list {font-size: 16px; line-height: 22px; column-count: 5; color: #999;}
.checklist-list > div:hover {cursor: pointer;}
.checklist-on {color: #044772; font-weight: 900;}

.counterdiv {position: relative}

.checklist-progress {border: 2px solid #044772; border-radius: 20px; width: 200px; text-align: center; font-size: 22px; position: relative; height: 35px; z-index: 10; display: flex; align-items: center; justify-content: center; overflow: hidden;}
#checklist-progresson {position: absolute; left: 0px; background-color: #bde1f8; height: 45px; z-index:1; width: 0px;}

.rollover:hover {cursor: pointer;}

@media screen and (max-width: 900px) {
.checklist-title {flex-direction: column;}
.checklist-list {column-count: 2;}
.checklist-progress {height: 25px; margin-bottom: 20px; font-size: 18px;}
.checklist-list {font-size: 13px;}
.counterdiv {margin: 20px auto;}
}



/*-----------------------------------------*/


.whats-inside {width: 100%;  background-color: #fff; overflow: auto;}
.whats-inside-inner {width: 90%;  max-width: 700px; margin: 50px auto;}


.inside-title {font-size: 20px;  text-decoration: underline; font-weight: bold;}
.inside-list {font-size: 22px;  margin: 5px 0px 5px 30px; display: flex;}
.small-list {font-size: 20px;}
.checkmark {margin-right: 10px;}



/*-----------------------------------------*/


.footer3 {background-color: #bde1f8; height: 20px;}
.footer2 {background-color: #429dd8; height: 20px;}
.footer {background-color: #044772; color: #fff; font-size: 14px; padding-top: 30px; padding-bottom: 100px;}
.footercontent{max-width: 800px; width: 90%; margin: auto;}








